:root {
  --font-family:  'Montserrat', sans-serif;
  --line-height: 20.72px;

  --background-color: #EAEAEA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}


body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-family);
  line-height: var(--line-height);
}