@import "../../styles/base/montserrat.font.scss";

.h1 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 600;
  font-size: 20px;
  line-height: 20.72px;
}

.p1 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 400;
  font-size: 17px;
  line-height: 20.72px;
}

.p2 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 400;
  font-size: 15px;
  line-height: 18.29px;
}

.p3 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 400;
  font-size: 13px;
  line-height: 15.85px;
}

