.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  
  .logo {
    height: 30px;
    padding-left: 10px;
  }
  
  .icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  
  .icon-container__favorites {
    height: 20px;
  }

  .icon-container__cart {
    height: 23.2px;
  }
  