.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  height: 30px;
  padding-left: 10px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 40px;
}

.icon-with-badge {
  position: relative;
}

  .icon-container__favorites {
    height: 20px;
    margin-bottom: 4px;
  }

  .icon-container__cart {
    height: 23.2px;
  }

.icon-container__favorites:hover,
.icon-container__cart:hover {
  transform: scale(1.1);
}

.icon-container__favorites:active,
.icon-container__cart:active {
  transform: scale(0.9);
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: orange;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4px;
  height: 10px;
}
